body {
  margin: 0;
}
body.game {
  background: url("../images/youhou.png")50% 0%;
  background-repeat: no-repeat;
}
@font-face {
  font-family: "cowboy movie";
  src: url('../style/Cowboy_Movie.ttf');
}
#grid {
  z-index: 100;
  display: block;
  margin: auto;
  width: 450px;
  margin-top: 199px;
  height: auto;
  padding-left: 42px;
}
.lines div {
  border-radius: 100px;
}

/* PIONS */

.empty {
  display: inline-block;
  width: 44.7px;
  height: 44.7px;
}
.player1 {
  background-image: url(../images/pionco.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 44.7px;
  height: 44.7px;
}
.player2 {
  background-image: url(../images/pionin.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 44.7px;
  height: 44.7px;
}

/* BACKGROUND */

.lines {
  height: 44.7px;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
td {
  display: table-cell;
  vertical-align: inherit;
}
button.abandon {
  padding: 0.1px;
  border-radius: 14px;
  display: block;
  width: auto;
  margin: auto;
  margin-right: 30px;
  margin-top: -60px;
}
button.passer {
  padding: 0.1px;
  border-radius: 14px;
  display: block;
  width: auto;
  margin: auto;
  margin-left: 30px;
  margin-top: 70px;
}
div#score_one {
  display: block;
  font-family: 'cowboy movie';
  font-size: 2em;
  color: #834A22;
  width: 30px;
  height: auto;
  margin: auto;
  padding-right: 1047px;
  margin-top: -163px;
}
div#score_two {
  display: block;
  font-family: 'cowboy movie';
  font-size: 2em;
  color: #834A22;
  width: 30px;
  height: auto;
  margin: auto;
  padding-left: 880px;
  margin-top: -42px;
}
