#grid {
  z-index: 100;
  display: inline-block;
  position: absolute;
  left: 50%;
  margin-left: -267px;
  margin-top: 25px;
  width: 500px;
  height: 418px;
}
.lines div {
  border-radius: 100px;
}
/* PIONS */

.empty {
  display: inline-block;
  width: 50px;
  height: 50px;
}
.player1 {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: black;
}
.player2 {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: blue;
}
#joueurInfo {
  position: absolute;
  display: inline-block;
  margin-top: 130px;
  font-family: serif;
  font-size: 27px;
}
/* BACKGROUND */

#goban {}
.bgLines {
  width: 468px;
  height: 50px;
  margin-left: auto;
}
.bgJunction {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 1px solid black;
}
.lines {
  height: 50px;
}
#tableau {
  border-collapse: collapse;
  position: absolute;
  left: 50%;
  margin-left: -240px;
  margin-top: 50px;
}
#table tr {
  vertical-align: middle;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
#tableau .cellule {
  width: 47px;
  height: 47px;
  border: 1px solid black;
}
td {
  display: table-cell;
  vertical-align: inherit;
}
