#grid {
  z-index: 100;
  display: inline-block;
  position: absolute;
  left: 50%;
  margin-left: -267px;
  margin-top: 25px;
  width: 500px;
  height: 418px;
}
.lines div {
  border-radius: 100px;
}
/* PIONS */

.empty {
  display: inline-block;
  width: 50px;
  height: 50px;
}
.player1 {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: black;
}
.player2 {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: blue;
}
/* BACKGROUND */
.lines {
  height: 50px;
}
#tableau {
  border-collapse: collapse;
  position: absolute;
  left: 50%;
  margin-left: -240px;
  margin-top: 50px;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
#tableau .cellule {
  width: 47px;
  height: 47px;
  border: 1px solid black;
}
td {
  display: table-cell;
  vertical-align: inherit;
}
